<div id='forums_container'>
  <h2>Forums</h2>

  <table id='forums' class='forums subdued' cellspacing='0'>
  <thead>
  <tr>
    <th class="desc-and-last-post">Forum</th>
    <th class="topics-count">Topics</th>
    <th class="posts-count">Posts</th>
    <th class="views-count">Views</th>
  </tr>
  </thead>
  <tbody>
    <%= render @forums %>
  </tbody>
</table>
</div>