<div id="newsmain">
<%= render :partial => 'head', :locals => { :forum => @forum } %>
<br /><br />
<% if @topics_count > 20 %>
  <div class='pages'>
    <%=  paginate_links(20, params[:page], @topics_count, request.path) %>
  </div>
<% end %>
<table class='topics subdued' cellspacing='0' >
  <thead>
    <tr>
      <th class="icon"></th>
      <th class="byline">Topic</th>
      <th class="topic-starter">Topic Starter</th>
      <th class="comments-count">Posts</th>
      <th class="views-count">Views</th>
      <th class="last-message">Last message</th>
    </tr>
  </thead>
  <tbody>
    <% if @topics.empty? %>
      <tr><td colspan='5' align='center'>none</td></tr>
    <% end %>
    <%= render @topics %>
  </tbody>
</table>
</div>