
.bundle
.sqlite3
log/*
.log
Gemfile.lock

tmp/**/*

public/images/advertisements/*
public/images/articles/*
public/images/games/*
public/images/maps/*
public/images/seasons/*
public/images/teams/*
public/images/users/*
db/development.sqlite3
vendor/*
Gemfile.lock
vendor/*/*
RAILS_ENV=development
RAILS_ENV=development/*
public/shared/*

