.idea/
.bundle
.sqlite3
log/*
.log
tmp/**/*
config/database.yml
.rvmrc
public/images/advertisements/*
public/images/articles/*
public/images/games/*
public/images/maps/*
public/images/seasons/*
public/images/teams/*
public/images/users/*
db/development.sqlite3
vendor/bundle/*
vender/cache/*
RAILS_ENV=development
RAILS_ENV=development/*
development
developmet/*
public/shared/*
.redcar
.redcar/*
.sass-cache/
.DS_Store
