<table width="820" border="0" cellpadding="0" cellspacing="0" id="combot">
                               <tbody><tr>
                                 <td align="center">&nbsp;
                                 </td>
                               </tr>
				</tbody></table>
<table width="820" border="0" cellpadding="0" cellspacing="0" >
                               <tbody><tr>
                                 <td align="center">
							Page: <%=  paginate_links(@comments, @current_page, @comments_count, request.path) %>
                                 </td>
                               </tr>
				</tbody></table>