<h3>Comments: </h3>
  <div id="comments">
    <%= render @comments %>
    <% if @comments.size > 0 %>
      <%= render :partial => "comments/comment_footer" %>
    <% end %>
  </div>
  <p>
    <%= render :partial => "comments/form" %>
  </p>