<h1>Listing players</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Player</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= link_to player.team, team_path(player.team.slug) %>
    <td><%= link_to player.user.to_s, profile_path(player.user.login) %></td>

  </tr>
<% end %>
</table>


