<p>
Participation on the SC2SL website constitutes agreement to the following guidelines.
</p><p>
Because of the live nature of the discussions on this community, it is not possible for us to review and/or confirm the accuracy or validity of a message before it is posted. If you believe that someone has violated our User Guidelines or you have spotted content that may otherwise require attention, please send a private message a member of the staff member with a link to the content and a brief description of what you believe is wrong. In no case should a user respond to a situation personally, thereby aggravating the situation further. Responding to a violation in an inflammatory manner is a violation in itself and will result in appropriate action.
</p><p>
Any content that violates our User Guidelines will be removed. Interpretation of our guidelines is at the discretion of the staff.
</p><p>
1. Advertisements are not allowed. Generally speaking, posts made specifically for the promotion of a website, product or service are considered advertising or, at least, posts made that unnecessarily send people to a website that you are in some way affiliated with. It does not matter if it is a commercial website, a personal website, a non profit website, etc. We do authorize and/or sell advertisements on a case by case basis. If you are interested in utilizing this option, please contact us.
</p><p>
2. All signature links must be kept in your signature in your profile. Anyone found to be posting excessive links to their websites or suspected of using "sneaky" advertising methods is in violation of this guideline. You may only post a link to your site/a site that you are in some way affiliated with if the link specifically answers the question that is being asked and the answer cannot be simply posted without the link. Even then, link directly to the page where the information can be found. General and unnecessary links will be tagged as advertising. If you are found to be excessively posting links to your site (or you appear to be seeking out threads where your link may be relevant, so that you can post it), you may lose the ability to post links to your site. Do not offer to do work/help the user in exchange for compensation unless the user first expresses an interest in compensating.
</p><p>
3. You are not allowed to post an affiliate URL that leads to you earning cash, banner impressions, credits, points, etc. These links are also not allowed in your profile or signature. This includes a link created to simply redirect someone to an affiliate URL.
</p><p>
4. As this is an English speaking community, we require that posted content be in the English language, so that it can be well received and properly monitored.
</p><p>
5. Vulgar language and inappropriate material is not allowed and will be removed. We try to maintain a family friendly atmosphere whenever it is possible within the main subject matter of this community. Please keep this in mind when participating.
</p><p>
6. When linking to outside websites, you must ensure that the content of the link is appropriate for our community, in line with the guidelines laid out here. This includes mentioning or referencing a site, even if the mention is not hyperlinked. If you post a link and that link is automatically censored, it is considered to be an inappropriate link and you should remove it from your post immediately. If left, all posts that feature inappropriate links will be removed.
</p><p>
7. Posts that discuss illegal activities, transactions or websites such as warez, cracks, etc. will be removed. This includes the posting of information that you have obtained illegally.
</p><p>
8. Do not post copyrighted materials (articles, videos, audio, etc.) that you do not have permission to reproduce or distribute. For text articles, most of the time you may quote a small portion of the article (usually no more than 1/5 or 1/6) and you must link to the source (if online) or provide the source (if offline). Posting the entire article, even with the source, constitutes copyright infringement. This is not the place to illegally trade or distribute copyrighted (or those with questionable copyright status) video or audio clips.
</p><p>
9. Respect is the name of the game. You must respect your fellow members. Please refrain from inflammatory and defamatory comments as well as flaming, taunting and general disrespect. Do not simply put down the opinion or advice given by others. If you don't agree with it, say why - respectfully. Don't just tell them they're wrong. Do not make uninvited remarks about typos, duplicate posts, posting styles, etc.
</p><p>
10. Signatures are limited to 2 lines of text. No images.
</p><p>
11. Each user is allowed to create one account. If you would like to change your username, please contact us and, most likely, we can do it for you while you can keep all of your profile data, posts and other content. Do not attempt to create new accounts to cast votes, you could and will get banned for this.
</p><p>
12. Automated account creation, participation and content scraping is not permitted.
</p><p>
13. Moderators and the administrator have the final say on anything. If you have a problem, you may make a complaint to them directly and not publicly on the website. Creating threads or posts that question or reference administrative decisions or potential administrative decisions, such as post removals and thread closures, is not permitted. We are not perfect and if you feel that we have made a mistake, please privately contact a staff member and we will review the situation.
</p><p>
14. If you ever need clarification on any part of our User Guidelines or have a question, suggestion, a bit of feedback or a problem with the site, please feel free to contact us directly to ensure that it receives the proper attention.
</p><p>
15. Whenever you are participating in this community, please keep in mind that we strive to create a fun, friendly and inviting atmosphere. So, please have fun and enjoy the website!
</p>