<div id="newsmain">
<%= render :partial => 'forums/head', :locals => { :forum => @topic.forum } %>

<h2>New Post</h2>

<%= form_for [@topic.forum, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit "Submit" %>
<% end %>
</div>