<html>
 <head>  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  </head>
 <body>
<%= yield %><br />

<%= img_tag 'sc2sl2.gif' %><br />
The SC2SL Staff
<%= link_to "http://www.sc2sl.com", "http://www.sc2sl.com" %>
 </body>
</html>
